.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  grid-gap: 5rem;
  justify-content: center;
}

.card {
  box-shadow: 0 2px 20px gray;
  border-radius: 20px;
  justify-content: space-between;
  transition: transform 200mx ease-in;
}

.card:hover {
  transform: scale(1.05);
}

.image {
  height: 17rem;
  width: 100%;
  object-fit: cover;
}

.title {
  padding: 1rem;
}

.text {
  padding: 0 0.5rem;
}